:root {
  font-size: 16px;
  line-height: 1.5;

  /* Colors */
  --black: #282828;
  --gray-dark: #bdbdbd;
  --gray: #d1d1d1;
  --white: #e5e5e5;

  /* Miscellaneous */
  --mono-fonts: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --sans-serif-fonts: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --serif-fonts: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--gray);
  font-family: var(--sans-serif-fonts);
  justify-content: center;
  margin: 3rem 0;
}

button {
  align-items: center;
  border-radius: 0.4rem;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.5px;
  overflow: hidden;
  padding: 1rem;
  white-space: nowrap;
}

button .icon {
  font-size: 1.5em;
  margin-right: 0.25em;
  opacity: 0.65;
}

dialog {
  background-color: var(--white);
  border-width: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  max-height: calc(100% - 2rem);
  max-width: 40rem;
  min-width: 20rem;
  overflow-y: scroll;
  padding: 0;
}

dialog::backdrop {
  background-color: #28282822;
  backdrop-filter: blur(5px);
}

dialog button {
  margin-top: 1rem;
}

dialog > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

dialog h2 {
  margin-top: 0;
  text-align: center;
}

dialog h3 {
  text-align: center;
  font-size: 2rem;
}

dialog .content *:first-child {
  margin-top: 0;
}

dialog .content *:last-child {
  margin-bottom: 0;
}

main {
  display: flex;
  filter: none;
  flex-direction: column;
  text-align: center;
  transition: filter 150ms ease-out;
}

main > button {
  background-color: var(--gray);
  box-shadow:
    0.4rem 0.4rem 0.8rem var(--gray-dark),
    -0.4rem -0.4rem 0.8rem var(--white),
    inset 0 0 0 var(--gray);
  margin: 1rem;
  transition: background-color 100ms ease-out, box-shadow 100ms ease-out;
}

@media screen and (hover: hover) {
  main > button:hover {
    background-color: var(--white);
    box-shadow:
      0.4rem 0.4rem 0.8rem var(--gray-dark),
      -0.4rem -0.4rem 0.8rem var(--white),
      inset 0 0 0.8rem 0.4rem var(--gray);
  }

  main > button:active {
    box-shadow:
      0.1rem 0.1rem 0.2rem var(--gray-dark),
      -0.1rem -0.1rem 0.2rem var(--white),
      inset 0 0 0.8rem 0.4rem var(--gray);
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }

  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
}
