<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Sitcom World</title>
    <link rel="stylesheet" href="{{baseUrl}}/main.css" />
  </head>
  <body>
    {{content}}
  </body>
</html>

