@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("fonts/Montserrat-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
src: url("fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: url("fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("fonts/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: url("fonts/Montserrat-ThinItalic.ttf") format("truetype");
}


@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400 900;
  src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400 900;
  src: url("fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
}

:root {
  font-size: 16px;
  line-height: 1.5;

  /* Nord Colors */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nordA: #5e81ac;
  --nordB: #bf616a;
  --nordC: #d08770;
  --nordD: #ebcb8b;
  --nordE: #a3be8c;
  --nordF: #b48ead;
}

* {
  box-sizing: border-box;
}

blockquote {
  background-color: var(--nord1);
  border-radius: 0.5rem;
  margin: 2rem 0.5rem;
  padding: 1.5rem;
}

body {
  background-color: var(--nord0);
  color: var(--nord6);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 4rem auto;
  max-width: 50rem;
  padding: 0 1rem;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  color: var(--nord4);
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  background-color: inherit;
  border-bottom: 1px solid var(--nord1);
  color: var(--nord5);
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 3.375rem 0 0;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
}

h3 {
  background-color: inherit;
  border-bottom: 1px solid var(--nord1);
  color: var(--nord5);
  font-size: 2rem;
  font-weight: 700;
  margin: 2.25rem 0 0;
  padding: 0.875rem 0;
  position: sticky;
  top: 0;
}

h3 > em {
  color: var(--nord6);
}

h4 {
  color: var(--nord8);
  font-size: 1.25rem;
  margin: 0;
}

h4 > em {
  color: var(--nord7);
  float: right;
  font-size: 1rem;
}

hr {
  border: 1px solid var(--nord3);
}

p {
  margin: 1rem 0 0;
}
