:root {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.5;

  /* Colors */
  --blood: #822;
  --blood-light: #a44;
  --ink: #024;
  --ink-light: #246;
  --paper: #fed;
  --shadow: #2226;
  --yellow: #ee6;

  /* Backgrounds */
  --paper-fibers: var(--paper) url(/paper-fibers.png);

  /* Fonts */
  --geometric-humanist-fonts: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --system-ui-fonts: system-ui, sans-serif;
  --transitional-fonts: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
  --max-content-width: 40rem;
  --control-size: 44px;

  /* Animation Speeds */
  --fast: 50ms;
  --slow: 100ms;
  --slower: 250ms;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blood);
}

body {
  background: var(--paper-fibers);
  color: var(--ink);
  font-family: var(--transitional-fonts);
  margin: 0;
}

button {
  cursor: pointer;
}

@media screen and (hover: hover) {
  a {
    text-decoration-color: transparent;
    transition: text-decoration-color var(--fast) ease-out;
  }

  a:hover {
    text-decoration-color: var(--blood);
  }
}
