---
description: Tools for tabletop roleplaying
layout: base.njk
title: Stormlands
---

<style>
  body {
    margin: 0 auto;
    max-width: 50rem;
    padding: var(--medium);
    width: max-content;
  }

  h2 {
    margin-bottom: 0;
  }

  h2 + p {
    color: var(--gray-light);
    font-style: italic;
    margin-top: 0;
  }
</style>

<h2><a href="/cthulhu">Call of Cthulhu Reference</a></h2>
<p>References for Call of Cthulhu</p>

<h2><a href="/fate">Fate Condensed Reference</a></h2>
<p>A simple set of "cheat sheets" for running Fate Condensed games</p>

<h2><a href="/generators">Generators</a></h2>
<p>Randomized generators for tabletop games</p>

<h2><a href="/mothership-map">Mothership Map Maker</a></h2>
<p>Create 2D-styled maps for Mothership RPG</p>

<h2><a href="/sitcom-world">Sitcom World</a></h2>
<p>A work-in-progress <abbr title="Powered by the Apocalypse">PbtA</abbr> game system</p>
