<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Mothership Reference</title>
    <link rel="stylesheet" href="{{baseUrl}}main.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{baseUrl}}character-creation/">Character Creation</a></li>
        <li><a href="{{baseUrl}}equipment/">Equipment</a></li>
        <li><a href="{{baseUrl}}location-gen/">Location Gen</a></li>
        <li><a href="{{baseUrl}}mercenaries/">Mercenaries</a></li>
        <li><a href="{{baseUrl}}weapons/">Weapons</a></li>
      </ul>
    </nav>
    <main>
      {{content}}
    </main>
    <script>
      document.querySelectorAll(`a[href="${window.location.pathname}"]`)
        .forEach(a => {
          a.classList.add('-current')
        })

      document.querySelectorAll('table')
        .forEach(table => {
          const tbody = table.querySelector('tbody')
          table.querySelectorAll('th')
            .forEach((th, c) => {
              th.onclick = () => {
                tbody.querySelectorAll(`td:nth-child(${c + 1}).-active`)
                  .forEach(td => {
                    td.classList.remove('-active')
                  })
                const r = Math.floor(Math.random() * tbody.children.length)
                tbody.children[r].children[c].classList.add('-active')
              }
            })
        })
    </script>
  </body>
</html>

