* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #1d1f21;
  --blue: #81a2be;
  --brown: #a3685a;
  --cyan: #8abeb7;
  --gray1: #282a2e;
  --gray2: #373b41;
  --gray3: #969896;
  --gray4: #b4b7b4;
  --gray5: #c5c8c6;
  --gray6: #e0e0e0;
  --green: #b5bd68;
  --green-dark: #5a5e3d;
  --orange: #de935f;
  --purple: #b294bb;
  --red: #cc6666;
  --shade-heavy: rgba(29, 31, 33, 0.75);
  --shade-light: rgba(29, 31, 33, 0.25);
  --shade: rgba(29, 31, 33, 0.5);
  --tint-heavy: rgba(255, 255, 255, 0.75);
  --tint-light: rgba(255, 255, 255, 0.25);
  --tint: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --yellow: #f0c674;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;

  /* Speeds */
  --fast: 50ms;
  --slow: 200ms;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  margin: 0px;
}

h1 {
  font-weight: 500;
  margin: 0px;
}

h2 {
  font-weight: 400;
}

main > *:first-child {
  margin-top: 0px;
}

nav {
  background-color: var(--gray2);
  color: var(--gray1);
  font-weight: 700;
  scrollbar-width: none;
}

nav::-webkit-scrollbar {
  display: none;
}

nav li a {
  background-color: transparent;
  border-bottom: 1px solid var(--black);
  color: var(--gray3);
  cursor: pointer;
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: var(--small);
  text-decoration: none;
  text-transform: uppercase;
  transition: all var(--fast) ease-out;
  transition-property: background-color, color;
}

nav li a.-current {
  background-color: var(--black);
  color: var(--white);
}

nav li a:not(.-current):hover {
  background-color: var(--shade);
  color: var(--gray5);
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
}

table:not(:first-of-type) {
  margin-top: var(--large);
}

tbody strong {
  font-weight: 400;
  text-decoration: underline;
}

tbody td {
  vertical-align: top;
}

tbody td.-active {
  color: var(--green);
  background-color: var(--gray2);
  bottom: 0px;
  position: sticky;
  top: 1.875rem;
}

tbody td:first-child {
  white-space: nowrap;
}

tbody td, thead th {
  padding: var(--tiny) var(--small);
}

tbody tr:first-of-type td {
  padding-top: var(--small);
}

tbody tr:hover {
  background-color: var(--gray1);
}

tbody tr:not(:last-of-type) {
  border-bottom: 1px solid var(--gray2);
}

thead th {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  font-weight: 300;
  padding-top: var(--tiny);
  position: sticky;
  text-transform: uppercase;
  top: 0px;
}

thead th:hover {
  background-color: var(--green);
}

thead th:not([align]) {
  text-align: left;
}

@media screen and (min-width: 600px) {
  main {
    margin-left: 200px;
    padding: var(--medium);
  }

  nav {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    width: 200px;
    z-index: 10;
  }
}
