* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #383838;
  --gray: #888888;
  --purple: #663399;
  --white: #f8f8f8;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
