* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;

  /* Colors */
  --alabaster: #faf9f9;
  --bright-blue: #5ec4ff;
  --dark-blue: #1b658f;
  --dark: rgba(24, 24, 24, 0.85);
  --indigo: #636;
  --light-blue: #8bd5ff;
  --light: rgba(248, 248, 248, 0.85);
  --light-indigo: #969;
  --pale-blue: #b8e5ff;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
}

a {
  cursor: pointer;
}

body {
  background-color: var(--alabaster);
  color: var(--dark);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin: 0px;
}

button {
  align-items: center;
  background-color: var(--indigo);
  border-radius: 5px;
  border-style: none;
  color: var(--alabaster);
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: center;
  min-height: 44px;
  padding: 0 15px;
  transition: background-color 100ms ease-out;
}

button:not(:disabled):hover {
  background-color: var(--light-indigo);
}

h1, h2, h3, h4 {
  color: var(--dark-blue);
  font-style: normal;
  margin-bottom: 0px;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0px;
}

h2 {
  font-size: 1.67rem;
  font-weight: 400;
  margin-top: 1em;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1em;
}

li > p {
  margin: 0px;
}

main {
  padding: var(--medium);
}

main > *:first-child {
  margin-top: 0px;
}

main a {
  color: var(--dark-blue);
}

main p,
main ul {
  max-width: 800px;
}

nav {
  background-color: var(--dark-blue);
  scrollbar-width: none;
}

nav > a {
  border-bottom: 1px solid var(--alabaster);
  color: var(--alabaster);
  display: block;
  padding: var(--small);
  text-decoration: none;
  transition: background-color 50ms ease-out, color 50ms ease-out;
}

nav > a.-current,
nav > a[data-tool].-current {
  background-color: var(--alabaster);
  color: var(--dark-blue);
}

nav > a:not(.-current):hover {
  background-color: rgba(248, 248, 248, 0.2);
}

nav > a[data-tool] {
  background-color: var(--indigo);
}

nav > a[data-tool]:not(.-current):hover {
  background-color: var(--light-indigo);
}

nav > a > svg {
  height: 24px;
  margin-bottom: -4px;
  margin-right: var(--small);
  opacity: 0.5;
  width: 24px;
}

table {
  border-spacing: 0px;
}

table td {
  padding: 0px var(--small);
}

table th {
  border-bottom: 1px solid var(--dark-blue);
  padding: 0px var(--small);
  text-align: left;
}

tbody tr:nth-child(2n) td {
  background-color: rgba(24, 24, 24, 0.05);
}

ul {
  padding-left: 2rem;
}

@media screen and (min-width: 512px) {
  main {
    margin-left: 15rem;
  }

  nav {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    width: 15rem;
  }
}
