---
description: Reference for base Call of Cthulhu system
layout: base.njk
title: Call of Cthulhu
---

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Lora:400,400i,700,700i&display=swap" />
<link rel="stylesheet" href="main.css" />
<script src="main.js" type="module"></script>

<div id="Root"></div>
