* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: rgb(24, 24, 24);
  --chalk: rgba(240, 230, 220, 0.25);
  --dark: rgba(24, 24, 24, 0.9);
  --light: rgba(248, 248, 248, 0.9);
  --orange: rgb(200, 120, 0);
  --parchment: rgb(236, 233, 230);
  --red: rgb(200, 0, 0);
  --shadow: rgba(24, 24, 24, 0.2);
  --white: rgb(248, 248, 248);

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
}

a {
  cursor: pointer;
}

body {
  background-color: rgb(236, 233, 230);
  color: rgba(24, 24, 24, 0.9);
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin: 0px;
}

h1, h2, h3, h4 {
  font-family: "IM Fell English SC", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0px;
}

h1 {
  font-size: 2.44em;
  margin-top: 0px;
}

h2 {
  font-size: 1.95em;
  margin-top: 1em;
}

h3 {
  font-size: 1.56em;
  margin-top: 1em;
}

h4 {
  font-size: 1.25em;
  margin-top: 1em;
}

hr {
  border-color: rgba(24, 24, 24, 0.05);
}

main p {
  max-width: 800px;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 0px var(--small);
}

table td em {
  font-style: normal;
  margin: 0px 1px;
  opacity: 0.5;
}

table th {
  padding: 0px var(--small);
  text-align: left;
}

tbody tr:nth-child(2n+1) td {
  background-color: rgba(24, 24, 24, 0.05);
}
