<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>{{ title }}</title>
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />

    {%- if stylesheets -%}
    {%- for sheet in stylesheets -%}
    <link rel="stylesheet" href="{{ sheet }}" />
    {%- endfor -%}
    {%- endif -%}

    {%- if scripts -%}
    {%- for script in scripts -%}
    <script src="{{ script }}"></script>
    {%- endfor -%}
    {%- endif -%}

    {%- if deferScripts -%}
    {%- for script in deferScripts -%}
    <script defer src="{{ script }}"></script>
    {%- endfor -%}
    {%- endif -%}

    {%- if moduleScripts -%}
    {%- for script in moduleScripts -%}
    <script src="{{ script }}" type="module"></script>
    {%- endfor -%}
    {%- endif -%}
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>

