---
description: References for Call of Cthulhu
layout: base.njk
title: Call of Cthulhu
stylesheets:
  - /cthulhu/styles.css
---

<header>
  <span class="title">Call of Cthulhu</span>
  <nav onclick="this.classList.toggle('-open')">
    <menu>
      <li><a {% if '/cthulhu/occupations/' in page.url %}class="-current" {% endif %}href="/cthulhu/occupations/">Occupations</a></li>
      <li><a {% if '/cthulhu/pulp-archetypes/' in page.url %}class="-current" {% endif %}href="/cthulhu/pulp-archetypes/">Pulp Archetypes</a></li>
      <li><a {% if '/cthulhu/pulp-talents/' in page.url %}class="-current" {% endif %}href="/cthulhu/pulp-talents/">Pulp Talents</a></li>
      <li><a {% if '/cthulhu/skills/' in page.url %}class="-current" {% endif %}href="/cthulhu/skills/">Skills</a></li>
      <li><a {% if '/cthulhu/weapons/' in page.url %}class="-current" {% endif %}href="/cthulhu/weapons/">Weapons</a></li>
    </menu>
    <button>&equiv;</button>
  </nav>
</header>

{{ content | safe }}
