:root {
  --nav-width: 256px;
}

body > nav + main {
  padding-bottom: var(--huge);
}

body > nav {
  height: 100dvh;
  left: 0;
  position: fixed;
  top: 0;
}

body > nav::before {
  background-color: var(--shadow);
  backdrop-filter: none;
  content: "";
  height: 100dvh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all var(--slower) ease-out;
  transition-property: backdrop-filter, opacity;
  width: 100dvw;
}

body > nav.-open::before {
  backdrop-filter: blur(2px);
  opacity: 1;
  pointer-events: auto;
}

body > nav a {
  color: var(--paper);
  display: block;
  overflow: hidden;
  padding: var(--small);
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body > nav button {
  background-color: var(--blood);
  border-radius: 33%;
  border-width: 0;
  bottom: var(--small);
  box-shadow: 0 var(--tiny) var(--tiny) var(--shadow);
  color: var(--paper);
  font-size: 2rem;
  height: 44px;
  left: var(--small);
  padding: 0;
  position: fixed;
  width: 44px;
}

body > nav li {
  border-bottom: 1px solid #fff2;
}

body > nav ul {
  background-color: var(--ink-light);
  height: 100%;
  list-style-type: none;
  margin: 0 0 0 calc(0px - var(--nav-width));
  overflow-y: scroll;
  padding-left: 0;
  position: relative;
  transition: margin-left var(--slower) ease-out;
  width: var(--nav-width);
  z-index: 3;
}

body > nav.-open ul {
  margin-left: 0;
}

h2 {
  margin-bottom: var(--small);
  margin-top: 0;
  padding-top: var(--medium);
}

h2 + ol,
h2 + ul,
h3 + ol,
h3 + ul {
  margin-top: 0;
  padding-left: var(--large);
}

h3 {
  margin-bottom: var(--small);
  margin-top: 0;
  padding-top: var(--medium);
}

h2 + p,
h3 + p {
  margin-top: 0;
}

header {
  align-items: center;
  background-color: var(--ink);
  color: var(--paper);
  display: flex;
  justify-content: space-between;
  padding: var(--small);
  position: sticky;
  top: 0;
}

header nav {
  position: relative;
}

header nav button {
  background-color: var(--ink);
  border-radius: 33%;
  border-width: 0;
  color: var(--paper);
  font-size: 2rem;
  height: 44px;
  padding: 0;
  transition: background-color var(--fast) ease-out;
  width: 44px;
}

header nav.-open button {
  background-color: var(--ink-light);
  border-radius: 33% 33% 0 0;
}

header nav menu {
  background-color: var(--ink-light);
  border-radius: var(--small) 0 var(--small) var(--small);
  box-shadow: 0 var(--tiny) var(--tiny) var(--shadow);
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding-left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 30px;
  transition: all var(--slow) ease-out;
  transition-property: opacity, pointer-events, top;
}

header nav.-open menu {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  top: 45px;
}

header nav li:not(:last-child) {
  border-bottom: 1px solid var(--ink);
}

header nav li a {
  color: var(--paper);
  display: block;
  padding: var(--small) var(--medium);
  text-decoration: none;
  white-space: nowrap;
}

header nav li:first-child a {
  border-radius: var(--small) 0 0 0;
}

header nav li:last-child a {
  border-radius: 0 0 var(--small) var(--small);
}

header nav li a.-current {
  background-color: var(--paper);
  color: var(--blood);
}

main {
  padding: 0 var(--medium) var(--large);
}

main > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: var(--tiny);
  white-space: nowrap;
}

th {
  padding: var(--tiny);
  text-align: left;
  white-space: nowrap;
}

thead {
  background: var(--paper-fibers);
  box-shadow: 0 1px 0 var(--ink-light);
  position: sticky;
  top: 3.75rem;
}

tr:nth-child(2n) {
  background-color: #3331;
}

@media screen and (hover: hover) {
  header a {
    transition: background-color var(--fast) ease-out;
  }

  header a:not(.-current):hover {
    background-color: var(--blood);
  }

  header nav button {
    transition: background-color var(--fast) ease-out;
  }

  header nav button:hover {
    background-color: var(--ink-light);
  }

  body > nav a {
    transition: background-color var(--fast) ease-out;
  }

  body > nav a:hover {
    background-color: var(--blood);
  }

  body > nav a:active {
    background-color: var(--blood-light);
    transition: none;
  }

  body > nav button {
    transition: background-color var(--fast) ease-out;
  }

  body > nav button:hover {
    background-color: var(--blood-light);
  }

  tbody tr {
    transition: background-color var(--fast) ease-out;
  }

  tbody tr:hover {
    background-color: #fffc;
  }
}

@media screen and (min-width: 512px) {
  body {
    display: grid;
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    overflow: hidden;
    width: 100dvw;
  }

  body > nav + main {
    grid-column: unset;
    padding-bottom: unset;
  }

  body > nav {
    height: 100%;
    overflow-y: auto;
    position: relative;
    width: unset;
  }

  body > nav::before,
  body > nav button {
    display: none;
  }

  body > nav ul {
    margin-left: 0;
  }

  header {
    display: flex;
    grid-column: 1 / 3;
    position: relative;
  }

  header nav button {
    display: none;
  }

  header nav menu {
    border-radius: var(--small);
    box-shadow: none;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    opacity: unset;
    pointer-events: auto;
    position: relative;
    top: unset;
  }

  header nav li:not(:last-child) {
    border-bottom: none;
    border-right: 1px solid var(--ink);
  }

  header nav li:first-child a {
    border-radius: var(--small) 0 0 var(--small);
  }

  header nav li:last-child a {
    border-radius: 0 var(--small) var(--small) 0;
  }

  header nav.-open menu {
    top: unset;
  }

  header .title {
    font-size: 0;
  }

  main {
    grid-column: 1 / 3;
    overflow-y: auto;
  }

  thead {
    top: 0;
  }
}

@media screen and (min-width: 670px) {
  header .title {
    font-size: 1.25rem;
  }
}
