---
description: A simple set of "cheat sheets" for running Fate Condensed games
layout: base.njk
title: Fate Condensed Reference
---

<style>
  a {
    cursor: pointer;
  }

  button {
    font: inherit;
    outline: none;
  }

  dialog {
    background: var(--paper-fibers);
    border: 2px solid var(--ink);
    border-radius: var(--small);
    overflow: hidden;
    padding: 0;

    & > div {
      overflow-y: auto;
      padding: 0 var(--small) var(--small);

      & > *:first-child {
        margin-top: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    & form button {
      background-color: transparent;
      border-width: 0;
      color: var(--blood);
      font-size: 1.5rem;
      font-weight: 900;
      height: var(--control-size);
      line-height: 1;
      margin: 0;
      padding: 0;
      width: var(--control-size);
    }

    &::backdrop {
      background-color: #0246;
      backdrop-filter: blur(2px);
    }
  }

  h2 {
    align-items: baseline;
    background-color: var(--ink);
    color: var(--paper);
    display: flex;
    margin: 0;
    padding: 0 var(--small);
    white-space: nowrap;

    & > a {
      color: var(--paper);
      text-decoration: underline #fed4;
    }
  }

  main {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: var(--tiny) var(--small);

    &.-indented {
      margin-left: 1.5rem;
    }
  }

  ul.-striped li:nth-child(2n) {
    background-color: #0001;
  }

  .row {
    align-items: flex-start;
    display: flex;
    justify-content: justify;

    & div.-full {
      flex-grow: 1;
    }
  }

  #AdjectiveLadder {
    background: var(--paper-fibers);
    border: 2px solid var(--ink);
    border-top: 0;

    & ul {
      list-style-type: none;
      margin: var(--tiny) var(--small);
      padding-left: 0;

      &.rating {
        display: inline-block;
        text-align: right;
        width: 1.5rem;
      }
    }
  }

  @media screen and (hover: hover) {
    h2 > a:hover {
      text-decoration-color: var(--paper);
    }
  }

  @media screen and (min-width: 512px) {
    .medium-columns {
      display: flex;

      & .column {
        flex-basis: 50%;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .large-columns {
      display: flex;

      & .column {
        flex-basis: 50%;

        &:not(:first-child) {
          border-left: 2px solid var(--ink);
        }
      }
    }
  }
</style>

<script>
function openSectionModal(heading) {
  heading.parentNode.parentNode.querySelector('dialog').showModal()
}
</script>

<main>
  <div class="row">
    <div class="-full">
      <section>
        <h2><a onclick="openSectionModal(this)">Fiction First</a></h2>
        <p>Describe what you're trying to do, <b>then</b> choose the skill and action that fits.</p>
        <dialog>
          <form method="dialog">
            <button>&times;</button>
          </form>
          <div>
            <p>When a character wants to take an action, the group should think about these questions:</p>
            <ul>
              <li>What's stopping this from happening?</li>
              <li>What could go wrong?</li>
              <li>How is it interesting when it does go wrong?</li>
            </ul>
          </div>
        </dialog>
      </section>
      <section>
        <h2><a onclick="openSectionModal(this)">Roll Dice</a></h2>
        <p>Effort = [4dF dice roll] + [skill] + [invoked aspects] + [stunt bonuses]</p>
        <dialog>
          <form method="dialog">
            <button>&times;</button>
          </form>
          <div>
            <p>Whenever you take action, follow these steps:</p>
            <ol>
              <li>Fiction first: Describe what you’re trying to do, then choose the skill and action that fits.</li>
              <li>Roll four dice.</li>
              <li>Add up the symbols on the dice. This will give you a dice result of -4 to 4.</li>
              <li>Add the dice result to your skill rating.</li>
              <li>Modify the dice by invoking aspects and using stunts.</li>
              <li>Declare your total result, called your <b>Effort</b>.</li>
            </ol>
          </div>
        </dialog>
      </section>
      <section>
        <h2><a onclick="openSectionModal(this)">Outcomes</a></h2>
        <p>Shifts = [Your effort] - [opposing effort or target difficulty]</p>
        <p><b>Fail:</b> Your effort is less than the target difficulty or opposing effort.</p>
        <p><b>Tie:</b> Your effort is equal to the target.</p>
        <p><b>Success:</b> Your effort is one or two shifts more than the target.</p>
        <p><b>Success with style:</b> Your effort is three or more shifts more than the target.</p>
        <dialog>
          <form method="dialog">
            <button>&times;</button>
          </form>
          <div>
            <ul>
              <li>All outcomes should advance the story in interesting ways.</li>
              <li>End with fiction.</li>
              <li>Interpret results in a way that fits the fiction.</li>
            </ul>
          </div>
        </dialog>
      </section>
    </div>
    <aside id="AdjectiveLadder">
      <h2>Adjective Ladder</h2>
      <ul class="-striped">
        <li><span class="rating">+8</span> Legendary</li>
        <li><span class="rating">+7</span> Epic</li>
        <li><span class="rating">+6</span> Fantastic</li>
        <li><span class="rating">+5</span> Superb</li>
        <li><span class="rating">+4</span> Great</li>
        <li><span class="rating">+3</span> Good</li>
        <li><span class="rating">+2</span> Fair</li>
        <li><span class="rating">+1</span> Average</li>
        <li><span class="rating">+0</span> Mediocre</li>
        <li><span class="rating">-1</span> Poor</li>
        <li><span class="rating">-2</span> Terrible</li>
        <li><span class="rating">-3</span> Catastrophic</li>
        <li><span class="rating">-4</span> Horrifying</li>
      </ul>
    </aside>
  </div>
  <section>
    <h2>Actions (p.18–21)</h2>
    <div class="medium-columns">
      <div class="column">
        <p><b>Attack:</b> Attack to harm your target.</p>
        <p class="-indented"><b>Fail:</b> You fail to connect.</p>
        <p class="-indented"><b>Tie:</b> Get a boost.</p>
        <p class="-indented"><b>Success:</b> Deal a hit equal to your effort minus the defense's effort.</p>
        <p class="-indented"><b><abbr title="Success with style">SWS</abbr>:</b> Same as success, but you may reduce the hit by one to get a boost.</p>
        <p><b>Defend:</b> Defend to survive an attack or interfare with a foe's action.</p>
        <p class="-indented"><b>Fail:</b> Foe succeeds. If it's an atack, you take a hit; absorb as described below.</p>
        <p class="-indented"><b>Tie:</b> Opposed action's tie result applies.</p>
        <p class="-indented"><b>Success:</b> You deny the enb's action or hit.</p>
        <p class="-indented"><b><abbr title="Success with style">SWS</abbr>:</b> As with success; also gain a boost.</p>
        <p><b>Overcome:</b> Clear obstacles.</p>
        <p class="-indented"><b>Fail:</b> Failure or success at a major cost.</p>
        <p class="-indented"><b>Tie:</b> Success at a minor cost, fail but gain a boost, or partially succeed.</p>
        <p class="-indented"><b>Success:</b> You meet your goal.</p>
        <p class="-indented"><b><abbr title="Success with style">SWS</abbr>:</b> You meet your goal and gain a boost.</p>
      </div>
      <div class="column">
        <p><b>Create an Advantage:</b> </p>
        <p>When creating a <b>new situation aspect:</b></p>
        <p class="-indented"><b>Fail:</b> Either don't create it, or do it but the enemy gets the free invoke (success at a cost).</p>
        <p class="-indented"><b>Tie:</b> Don't create it, but get a boost.</p>
        <p class="-indented"><b>Success:</b> Create it with one free invoke on it.</p>
        <p class="-indented"><b><abbr title="Success with style">SWS</abbr>:</b> Create it with two free invokes on it.</p>
        <p>When targeting an <b>existing known or unknown aspect:</b></p>
        <p class="-indented"><b>Fail:</b> Enemy gets a free invoke on the aspect. If unknown, enemy may instead keep it unknown.</p>
        <p class="-indented"><b>Tie:</b> Gain a free invoke if the aspect is known. Gain a boost instead if the aspect is unknown.</p>
        <p class="-indented"><b>Success:</b> Gain a free invoke on the aspect.</p>
        <p class="-indented"><b><abbr title="Success with style">SWS</abbr>:</b> Gain two free invokes on the aspect.</p>
      </div>
    </div>
  </section>
  <div class="large-columns">
    <div class="column">
      <section>
        <h2>Stress &amp; Consequences (p.35)</h2>
        <p>When you're hit you must absorb its shifts or be taken out.</p>
        <p><b>Stress:</b> You may check off as many stress boxes as you have available, absorbing 1 shift per box checked.</p>
        <p><b>Consequence:</b> These are aspects that grant one free invoke to the attacker once marked. They absorb shifts as indicated: Mild = 2, Moderate = 4, Severe = 6.</p>
        <p><b>Taken Out:</b> If you don't absorb the entire hit, you're taken out; your opponent controls what happens to you that removes you from the scene.<p>
        <p><b>Concede:</b> <em>Before</em> a roll you may choose to concede, which grants you a fate point payout and the ability to control how your character exits the scene.</p>
        <p><b>Recovery:</b> Stress clears at end of scene. Times to recover from consequences vary by severity.</p>
      </section>
      <section>
        <h2>Aspects (p.22)</h2>
        <p><b>Aspects are true.</b> They can grant or withdraw permission for what can happen in the story.</p>
        <p><b>Invoke</b> an aspect to get a +2 on a roll, a reroll, or to increase foe's difficulty by 2. Invoking costs a fate point or uses a free invoke.</p>
        <p><b>Compel</b> an aspect to add complications to a character's circumstances. Player either receives a fate point, or spends a fate point to deny the complications.</p>
      </section>
      <section>
        <h2>Teamwork Options (p.32)</h2>
        <p><b>Combine skills:</b> Character with highest skill rolls. Each other participant with at least an Average (+1) in that skill may give up their action to add a +1 to that roll. Maximum allowed bonus equals the rating of the highest skill. Supporters face same costs and consequences as the person making the roll.</p>
        <p><b>On your turn:</b> You can create an advantage and let your allies use the free invokes on their subsequent turns.</p>
        <p><b>Outside your turn:</b> You may invoke an aspect to add a bonus to someone else's roll.</p>
      </section>
      <section>
        <h2>Major &amp; Minor Costs (p.16–17)</h2>
        <p><b>Major costs:</b> The situation gets significantly worse or more complicated. Major costs include introducing new problems, bringing in new foes, putting the players on an imminent deadline, inflicting a mild or moderate consequence, and giving the enemy a new situation aspect with a free invoke or two, among other notions.</p>
        <p><b>Minor costs:</b> Story details about difficulty or complication but aren't hindrances themselves, a few points of stress, or a boost to the enemy.</p>
      </section>
      <section>
        <h2>Recovery Process (p.38)</h2>
        <p><b>Roll to begin recovery:</b> Academics (medicine) for physical, Empathy for mental. Difficulty is Fair (+2) for mild, Great (+4) for moderate, Fantastic (+6) for severe. Add two if treating yourself rather than someone else. On success, rewrite consequence to indicate healing.</p>
        <p><b>After treatment:</b> Mild take one full scene to clear. Moderate take a full session to clear. Severe only clear when you reach a breakthrough.</p>
      </section>
    </div>
    <div class="column">
      <section>
        <h2>Turn Order (p.31)</h2>
        <p>At the start, GM &amp; players decide who goes first. After acting, active player picks who goes next. GM's characters are in the turn order just like the PCs. After everyone goes, last player picks who starts next.</p>
      </section>
      <section>
        <h2>Setting Difficulties (p.42)</h2>
        <p>Low = below relevant PC skill; Medium = close to PC skill; High = much higher than relevant PC skill.</p>
        <p>Mediocre if not tough (or don't roll), +2 for tough, +2 for each extra factor agrinst them. Consult aspects to adjust.</p>
        <p>You may look at adjective ladder to guide starting point.</p>
      </section>
      <section>
        <h2>Challenges (p.32)</h2>
        <p>GM picks a number of skills representing the set of tasks needed to beat the challenge. Number of tasks is roughly equal to the number of players. Each player picks a task and rolls skill to overcome. GM considers mix of successes and failures to determine outcome.</p>
      </section>
      <section>
        <h2>Contests (p.33)</h2>
        <p>Contests take place over a series of exchanges. Each side takes an overcome action for their goals. Only one character from each side makes the roll.</p>
        <p>Each participant may try to create an advantage in addition to rolling or combining skills.</p>
        <p>If creating an advantage fails, that side either forfeits its roll, or keeps it but gives other side a free invoke.</p>
        <p>At the end of each exchange the side with the highest effort marks a victory; with style, two victories.</p>
        <p>If harm is on the table, margin of failure inflects stress. On a tie there's an unexpected twist, GM describes. First side to three victories (as determined by GM) wins.</p>
      </section>
      <section>
        <h2>Conflicts (p.34)</h2>
        <p>Use conflicts when violence or coercion is available to the PCs and each side has a chance to harm the other.</p>
        <p>Conflict takes place over a series of exchanges.</p>
        <p>Each character acts in turn order, describing what they're trying to do, then rolling the skill action.</p>
        <p>When all from one side have conceded or are taken out, the conflict ends. Any players who conceded collect their fate point payout, and GM also pays players hostile invoke fate points.</p>
      </section>
      <section>
        <h2>Types of Aspects (p.23 and p.27)</h2>
        <p><b>Boost:</b> Temporary, sometimes unnamed aspect. A boost provides a free invoke and vanishes once used. Can't be compelled. Can't be invoked with a fate point.</p>
        <p><b>Character:</b> Aspect on a character sheet.</p>
        <p><b>Consequence:</b> Character aspect; represents lasting harm.</p>
        <p><b>Situation:</b> Aspect located in the scene. Lasts only long as the circumstances represented by the aspect persist.</p>
        <p><b>Organization, Scenario, Setting, Zone:</b> Situation aspects which are located on a group, scene or storyline, campaign, or map area, respectively.</p>
      </section>
    </div>
  </div>
</main>
