<style>
header {
  display: flex;
}
</style>

<header>
  <div>
    <p>Age: <span id="Age"></span></p>

    <p>STR: <span id="StrengthScore"></span> (<span id="StrengthModifier"></span>)<br />
    DEX: <span id="DexterityScore"></span> (<span id="DexterityModifier"></span>)<br />
    END: <span id="EnduranceScore"></span> (<span id="EnduranceModifier"></span>)<br />
    INT: <span id="IntellectScore"></span> (<span id="IntellectModifier"></span>)<br />
    EDU: <span id="EducationScore"></span> (<span id="EducationModifier"></span>)<br />
    SOC: <span id="SocialStandingScore"></span> (<span id="SocialStandingModifier"></span>)</p>
  </div>
  <div>
    (Skills)
  </div>
</header>

<section>
  <h2>Choose Background Skills</h2>
  <p>Remaining: <span id="RemainingBackgroundSkills"></span></p>
  <p>
    <button data-action="addSkill" data-skill="Admin" data-level="0" data-toggle>Admin 0</button>
    <button data-action="addSkill" data-skill="Animals" data-level="0" data-toggle>Animals 0</button>
    <button data-action="addSkill" data-skill="Art" data-level="0" data-toggle>Art 0</button>
    <button data-action="addSkill" data-skill="Athletics" data-level="0" data-toggle>Athletics 0</button>
    <button data-action="addSkill" data-skill="Carouse" data-level="0" data-toggle>Carouse 0</button>
    <button data-action="addSkill" data-skill="Drive" data-level="0" data-toggle>Drive 0</button>
    <button data-action="addSkill" data-skill="Electronics" data-level="0" data-toggle>Electronics 0</button>
    <button data-action="addSkill" data-skill="Flyer" data-level="0" data-toggle>Flyer 0</button>
    <button data-action="addSkill" data-skill="Language" data-level="0" data-toggle>Language 0</button>
    <button data-action="addSkill" data-skill="Mechanic" data-level="0" data-toggle>Mechanic 0</button>
    <button data-action="addSkill" data-skill="Medic" data-level="0" data-toggle>Medic 0</button>
    <button data-action="addSkill" data-skill="Profession" data-level="0" data-toggle>Profession 0</button>
    <button data-action="addSkill" data-skill="Science" data-level="0" data-toggle>Science 0</button>
    <button data-action="addSkill" data-skill="Seafarer" data-level="0" data-toggle>Seafarer 0</button>
    <button data-action="addSkill" data-skill="Streetwise" data-level="0" data-toggle>Streetwise 0</button>
    <button data-action="addSkill" data-skill="Survival" data-level="0" data-toggle>Survival 0</button>
    <button data-action="addSkill" data-skill="Vacc Suit" data-level="0" data-toggle>Vacc Suit 0</button>
  </p>
  <button disabled type="submit">Save</button>
</section>

<script>
// Data ----------------------------------------------------------------------------------------------------------------

let character = {
  age: 18,
  // Characteristics
  strength: 2,
  dexterity: 2,
  endurance: 2,
  intellect: 2,
  education: 2,
  socialStanding: 2
};

// Functions -----------------------------------------------------------------------------------------------------------

function $(sel) {
  return document.querySelector(sel);
}

function $$(sel) {
  return Array.from(document.querySelectorAll(sel));
}

function d6() {
  return Math.floor(Math.random() * 6 + 1);
}

function modifier(score) {
  if (score < 1) return -3;
  if (score < 3) return -2;
  if (score < 6) return -1;
  if (score < 9) return 0;
  if (score < 12) return 1;
  if (score < 15) return 2;
  return 3;
}

function modifierString(score) {
  const mod = modifier(score);
  if (mod > -1) return `+${mod}`;
  return mod.toString();
}

function h(def, options = {}) {
  if (Array.isArray(options)) options = { children: options };
  const { actions, attributes, children, classes, textContent } = options;
  const [type, ...inlineClasses] = def.split('.');
  const element = document.createElement(type);
  if (attributes) {
    for (const [key, value] of Object.entries(attributes)) {
      if (value !== undefined) element.setAttribute(key, value);
    }
  }
  if (inlineClasses.length > 0) element.classList.add(...inlineClasses);
  if (classes) element.classList.add(...classes.filter(c => c));
  if (textContent) element.textContent = textContent;
  if (children) {
    for (const child of children) {
      if (child) element.appendChild(child);
    }
  }
  if (actions) {
    for (const [eventType, handler] of Object.entries(actions)) {
      element.addEventListener(eventType, event => handler(event, element));
    }
  }
  return element;
}

function roll(mod = 0) {
  return d6() + d6() + mod;
}

function toggleBackgroundSkill(event) {
  console.log(event.target);
}

function update(changes) {
  character = { ...character, ...changes };
  $('#Age').textContent = character.age;
  $('#StrengthScore').textContent = character.strength;
  $('#StrengthModifier').textContent = modifierString(character.strength);
  $('#DexterityScore').textContent = character.dexterity;
  $('#DexterityModifier').textContent = modifierString(character.dexterity);
  $('#EnduranceScore').textContent = character.endurance;
  $('#EnduranceModifier').textContent = modifierString(character.endurance);
  $('#IntellectScore').textContent = character.intellect;
  $('#IntellectModifier').textContent = modifierString(character.intellect);
  $('#EducationScore').textContent = character.education;
  $('#EducationModifier').textContent = modifierString(character.education);
  $('#SocialStandingScore').textContent = character.socialStanding;
  $('#SocialStandingModifier').textContent = modifierString(character.socialStanding);
}

// Initialization ------------------------------------------------------------------------------------------------------

for (const button of $$('button[data-action="addSkill"]')) {
  button.addEventListener('click', (event) => {
    console.log(event.target);
  });
}

for (const button of $$('button[data-toggle]')) {
  button.addEventListener('click', () => {
    if (button.getAttribute('data-toggle') === 'on') {
      button.setAttribute('data-toggle', '');
    } else {
      button.setAttribute('data-toggle', 'on');
    }
  });
}

update({
  strength: roll(),
  dexterity: roll(),
  endurance: roll(),
  intellect: roll(),
  education: roll(),
  socialStanding: roll()
});

$('#RemainingBackgroundSkills').textContent = modifier(character.education) + 3;

</script>
