<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--
    <meta name="description" content="" />
    <meta name="msapplication-TileColor" content="" />
    <meta name="theme-color" content="" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    -->
    <title></title>
    <!--
    <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
    <link rel="icon" href="./icon-16.png" sizes="16x16" />
    <link rel="icon" href="./icon-32.png" sizes="32x32" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="mask-icon" href="./safari-pinned-tab.svg" color="" />
    -->
    <link rel="stylesheet" href="{{baseUrl}}/style.css" />
  </head>
  <body>
    {{ content }}
  </body>
</html>

