:root {
  font-size: 16px;

  /* Colors */
  --base1: #261c22;
  --base2: #493443;
  --base3: #563d4e;
  --base4: #744758;
  --base5: #9e4e58;
  --base6: #ba5258;
  --white: #ffffff;
}

* {
  box-sizing: border;
}

body {
  background-color: var(--base1);
  color: var(--white);
  font-family: avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.5;
}

button {
  background-color: var(--base5);
  border: 1px solid var(--base4);
  border-radius: 2px;
  color: #fffc;
  cursor: pointer;
  font: inherit;
  transition: all 50ms ease-out;
  transition-property: background-color;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button[data-toggle=""] {
  background-color: transparent;
}

button[data-toggle="on"] {
  background-color: var(--base3);
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 1em 0 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1em 0 0;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 24px;
  }
}
