---
description: An extremely minimal Cepheus Engine ruleset
layout: base.njk
title: Cepheus Quark
---

<style>
:root {
  font-size: 15px;

  /* Sizes */
  --huge: 80px;
  --large: 40px;
  --medium: 20px;
  --small: 10px;
  --tiny: 5px;
}

body {
  background-color: #eee;
  background-image: url("gtri.png");
  color: #333;
  /* font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: var(--geometric-humanist-fonts);
  line-height: 1.5;
  margin: 0px auto;
  max-width: 640px;
  padding: 0px var(--medium);
}

footer {
  border-top: 1px solid #888;
  margin-bottom: var(--large);
  margin-top: var(--large);
  opacity: 0.5;
  padding-top: var(--medium);
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  margin: var(--large) 0px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: var(--large) 0px var(--small);
}

i {
  font-style: normal;
  opacity: 0.25;
}

ul {
  margin: 0px;
}

#Skills .lists {
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 2px;
  display: flex;
  line-height: 1.75;
  margin: var(--small) var(--medium);
  padding: var(--small) 0px;
}

#Skills .lists ul {
  width: calc(100% / 3);
}
</style>

<h1>Cepheus Quark</h1>
<section id="Attributes">
  <h2>Attributes</h2>
  <ul>
    <li>Roll 2D for each: Body, Mind, Will</li>
    <li>0–2: DM-2 <i>|</i> 3–5: DM-1 <i>|</i> 6–8: DM+0 <i>|</i> 9–11: DM+1 <i>|</i> 12+: DM+2</li>
    <li>Damage applies to relevant attribute, then player's choice
      <ul>
        <li>Unconscious at Body or Mind 0</li>
        <li>Panicked at Will 0</li>
      </ul>
    </li>
  </ul>
</section>
<section id="Skills">
  <h2>Skills</h2>
  <ul>
    <li>Assign <em>Mind</em> number of points to skills, from DM+0 to a max of DM+3</li>
    <li>Untrained skills are DM-3</li>
  </ul>
  <div class="lists">
    <ul>
      <li>Academics</li>
      <li>Animals</li>
      <li>Athletics</li>
      <li>Bureaucracy</li>
    </ul>
    <ul>
      <li>Combat</li>
      <li>Culture</li>
      <li>Pilot</li>
      <li>Scout</li>
    </ul>
    <ul>
      <li>Socialize</li>
      <li>Strategy</li>
      <li>Subterfuge</li>
      <li>Tech</li>
    </ul>
  </div>
</section>
<section id="Tasks">
  <h2>Tasks</h2>
  <ul>
    <li>Easy: 6+ <i>|</i> Average: 8+ <i>|</i> Difficult: 10+ <i>|</i> Very Difficult: 12+</li>
    <li>Roll 2D +Skill-DM +Attribute-DM, with any other DMs, at relevant time span</li>
    <li><em>Effect</em> = total - target</li>
    <li>Time spans: 1D secs <i>|</i> 1D&times;10 secs <i>|</i> 1D mins <i>|</i> 1D&times;10 mins <i>|</i> 1D hours
      <ul>
        <li>Faster: DM-2 <i>|</i> Slower: DM+2</li>
        <li>Split up any tasks longer than 1D hours</li>
      </ul>
    </li>
    <li>Advantage or disadvantage assigned situationally</li>
  </ul>
</section>
<section id="Combat">
  <h2>Combat</h2>
  <ul>
    <li>Initiative: Combat or Strategy check each round; PCs that pass go before NPCs</li>
    <li>Each round is simultaneous, lasts about 10 seconds</li>
    <li>Damage in tiers: 1D–5D, destructive 1DD–5DD (&times;10 dmg)</li>
    <li>Armor rating (1–F) reduces incoming damage</li>
  </ul>
</section>
<section id="Trade">
  <h2>Trade</h2>
  <ul>
    <li>Negotiate: &plusmn;<em>Effect</em> &times;10% price adjustment</li>
    <li>Starting sell price = 80% buy price</li>
  </ul>
</section>
<section id="Spacecraft">
  <h2>Spacecraft</h2>
  <ul>
    <li><em>Size</em> in tons, determines attribute points</li>
    <li>Attributes: Hull, Power, Fuel</li>
    <li>Hull can only be reduced by destructive damage (<em>n</em>DD)</li>
    <li>FTL Jump rating (1–5) in parsecs, consumes &lceil;&frac12; Fuel&rceil;</li>
  </ul>
</section>
<footer>
  <p>Version 0.1 &middot; June 2021</p>
</footer>
