* {
  box-sizing: border-box;
}

:root {
  font-size: 15px;

  /* Sizes */
  --huge: 80px;
  --large: 40px;
  --medium: 20px;
  --small: 10px;
  --tiny: 5px;
}

body {
  background-color: #eee;
  background-image: url("gtri.png");
  color: #333;
  font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0px auto;
  max-width: 640px;
  padding: 0px var(--medium);
}

footer {
  border-top: 1px solid #888;
  margin-bottom: var(--large);
  margin-top: var(--large);
  opacity: 0.5;
  padding-top: var(--medium);
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  margin: var(--large) 0px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: var(--large) 0px var(--small);
}

i {
  font-style: normal;
  opacity: 0.25;
}

ul {
  margin: 0px;
}

#Skills .lists {
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 2px;
  display: flex;
  line-height: 1.75;
  margin: var(--small) var(--medium);
  padding: var(--small) 0px;
}

#Skills .lists ul {
  width: calc(100% / 3);
}
