* {
  box-sizing: border-box;
}

:root {
  --fast: 50ms;
}

body {
  background-color: #111;
  color: #eee;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0px;
  user-select: none;
}

button {
  background-color: #ccc;
  border-radius: 2px;
  border-width: 0px;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 500;
  min-width: 2rem;
  padding: 4px 8px;
  white-space: nowrap;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  background-color: #eee;
}

canvas {
  display: none;
}

.button-group {
  display: flex;
}

.button-group > button {
  border-radius: 0px;
}

.button-group > button:first-child {
  border-radius: 2px 0px 0px 2px;
}

.button-group > button:last-child {
  border-radius: 0px 2px 2px 0px;
}

.button-group > button:not(:first-child) {
  margin-left: 1px;
}

.airlock .aperture,
.airlock .lock {
  pointer-events: none;
}

.airlock:hover .edge,
.arrow:hover .edge,
.door:hover .edge,
.grid:hover .block {
  fill: white;
}

.ellipse .edge {
  display: inline !important;
  fill: transparent;
}

.ellipse:hover .shape {
  stroke: white;
}

.line .anchor {
  cursor: move;
  display: inline !important;
  fill: #aaa8;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--fast) ease-out;
}

.line .bg {
  display: inline !important;
}

.line .path {
  pointer-events: none;
  transition: stroke var(--fast) ease-out;
}

.line:hover .path {
  stroke: #fff;
}

.line:hover .anchor {
  opacity: 1;
  pointer-events: auto;
}

.mesh:hover .block {
  fill: white;
}

.room .color-select {
  cursor: pointer;
  display: inline !important;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--fast) ease-out;
}

.room .color-select .current {
  stroke: rgba(255, 255, 255, 0.4);
  transition: stroke var(--fast) ease-out;
}

.room .color-select .current:hover {
  stroke: rgba(255, 255, 255, 0.8);
}

.room .color-select .colors {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--fast) ease-out;
}

.room .color-select:hover .colors {
  opacity: 1;
  pointer-events: auto;
}

.room .color-select .color {
  stroke: rgba(255, 255, 255, 0.4);
  transition: stroke var(--fast) ease-out;
}

.room .color-select .color:hover {
  stroke: rgba(255, 255, 255, 0.8);
}

.airlock .edge,
.arrow,
.door .edge,
.ellipse .shape,
.grid,
.line path,
.mesh,
.room .edge {
  cursor: grab;
}

.airlock .edge:active,
.arrow:active,
.door .edge:active,
.ellipse .shape:active,
.grid:active,
.line path:active,
.mesh:active,
.room .edge:active {
  cursor: grabbing;
}

.room .header {
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all var(--fast) ease-out;
  transition-property: fill, opacity;
}

.room .header:hover {
  fill: rgba(255, 255, 255, 0.15);
}

.sizer {
  cursor: nwse-resize;
  display: inline !important;
  fill: #eee;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--fast) ease-out;
}

.room:hover .edge {
  stroke: white;
}

.ellipse:hover .sizer,
.room:hover .color-select,
.room:hover .header,
.room:hover .sizer {
  opacity: 1 !important;
  pointer-events: auto;
}

.room text {
  font-size: 1em;
  pointer-events: none;
  text-transform: uppercase;
}

#Map.-grid {
  background-image: url(./tile.png);
}

#Map.-placing {
  background-color: #8811;
  cursor: crosshair;
}

#ToggleGrid {
  min-width: 2.5rem;
}

#Tools {
  align-items: center;
  background-color: #666;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  left: 0px;
  padding: 8px 8px 16px;
  position: fixed;
  width: 100%;
}

#Tools section {
  display: flex;
}

#Tools section:first-of-type > *:not(:first-child) {
  margin-left: 8px;
}

#Tools section:last-of-type > *:not(:last-child) {
  margin-right: 8px;
}
