---
description: Randomized generators for tabletop games
layout: base.njk
title: Generators
---

<style>
  article:not(:first-child) {
    margin-top: var(--large);
  }

  body {
    display: grid;
    grid-template-areas:
      "generators log"
      "generators footer";
    grid-template-columns: 16rem auto;
    grid-template-rows: calc(100vh - 2.75rem) 2.75rem;
  }

  button {
    background-color: var(--ink-light);
    border: none;
    border-radius: var(--tiny);
    color: var(--paper);
    font: inherit;
    overflow: hidden;
    padding: var(--tiny) var(--small);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  footer {
    align-items: center;
    background-color: var(--ink);
    display: flex;
    grid-area: footer;
    justify-content: space-between;
    padding-right: var(--small);
  }

  footer button {
    padding: 0.125rem 0.75rem;
  }

  h2 {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    opacity: 0.6;
  }

  p {
    margin: var(--small) 0 0;
  }

  ul {
    margin: var(--small) 0;
    padding-left: var(--large);
  }

  h2 + ul {
    margin: 0;
  }

  .favorite {
    border-radius: 0;
    border-bottom-left-radius: var(--small);
    border-right: 1px solid var(--ink);
    border-top-left-radius: var(--small);
    display: none;
    flex-shrink: 0;
  }

  .generate {
    flex-grow: 1;
  }

  .generator {
    display: flex;
  }

  .generator.-favorited {
    order: -2;
  }

  .generator.-favorited .favorite {
    color: var(--yellow);
  }

  .separator {
    height: var(--tiny);
    order: -1;
  }

  #Generators {
    background-color: var(--ink);
    display: flex;
    flex-direction: column;
    grid-area: generators;
    overflow: visible scroll;
    padding: var(--small);
  }

  #Generators div:not(:first-child) {
    margin-top: var(--tiny);
  }

  #Generators.-editing .favorite {
    display: block;
  }

  #Generators.-editing .generate {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  #Log {
    grid-area: log;
    overflow-y: scroll;
    padding: var(--medium);
  }

  @media screen and (hover: hover) {
    button {
      cursor: pointer;
      transition: all 100ms ease-out;
      transition-property: background-color, color;
    }

    button:hover {
      background-color: var(--blood);
    }

    button:active {
      background-color: var(--blood-light);
      transition-property: none;
    }

    .favorite:hover {
      background-color: var(--yellow);
      color: var(--ink);
    }

    .generator.-favorited .favorite:hover {
      background-color: var(--blood);
    }
  }
</style>

<div id="Generators"></div>

<div id="Log"></div>

<footer>
  <button id="EditGenerators">Edit</button>
  <button id="ClearLog">Clear</button>
</footer>

<script src="main.js" type="module"></script>
