* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #1d1f21;
  --blue: #81a2be;
  --brown: #a3685a;
  --cyan: #8abeb7;
  --gray1: #282a2e;
  --gray2: #373b41;
  --gray3: #969896;
  --gray4: #b4b7b4;
  --gray5: #c5c8c6;
  --gray6: #e0e0e0;
  --green: #b5bd68;
  --orange: #de935f;
  --purple: #b294bb;
  --red: #cc6666;
  --shade-heavy: rgba(29, 31, 33, 0.75);
  --shade-light: rgba(29, 31, 33, 0.25);
  --shade: rgba(29, 31, 33, 0.5);
  --tint-heavy: rgba(255, 255, 255, 0.75);
  --tint-light: rgba(255, 255, 255, 0.25);
  --tint: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --yellow: #f0c674;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;

  /* Speeds */
  --fast: 50ms;
  --slow: 200ms;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0px;
  overflow: hidden;
}

main {
  margin-left: 200px;
}

nav {
  background-color: var(--gray6);
  color: var(--gray1);
  font-weight: 700;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  width: 200px;
}

nav li {
  border-bottom: 1px solid var(--shade-light);
  cursor: pointer;
  padding: var(--tiny) var(--small);
  transition: background-color var(--fast) ease-out;
}

nav li:hover {
  background-color: var(--blue);
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

.hex-tile > .hexagon {
  fill: var(--gray1);
  opacity: 0.4;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 50%);
}

.hex-tile > text {
  fill: var(--gray4);
  font-size: 18px;
}

.highlight-tiles .hexagon {
  cursor: pointer;
  fill: transparent;
  opacity: 0;
  stroke-width: 1.25px;
  stroke: var(--white);
}

.highlight-tiles .hexagon:hover {
  opacity: 1;
}
