@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i");

* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #181818;
  --gray-dark: #585858;
  --gray-darker: #383838;
  --gray-light: #c8c8c8;
  --gray: #888888;
  --red: #dd2222;
  --white: #f8f8f8;

  /* Breakpoints */
  --break-small: 600px;
}

a {
  color: var(--black);
  cursor: pointer;
  text-decoration: underline var(--gray);
}

a:hover {
  color: var(--red);
  text-decoration: underline var(--red);
}

a > img {
  border: 1px solid var(--black);
  padding: 2px;
}

a:hover > img {
  border-color: var(--red);
}

blockquote {
  border-left: 4px solid var(--gray);
  color: var(--gray);
  font-style: italic;
  margin-left: 1rem;
  padding-left: 1rem;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  font-style: italic;
  font-weight: 500;
  letter-spacing: -1px;
}

h2,
h3,
h4 {
  margin-bottom: 0px;
}

h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
  margin-top: 40px;
}

h3 {
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 32px;
}

main {
  padding: 1rem;
}

p {
  max-width: 42em;
}

table {
  border-spacing: 0px;
}

table td {
  padding: 0px 0.5rem;
}

table th {
  border-bottom: 1px solid #aaaaaa;
  padding: 0px 0.5rem;
  text-align: left;
}

tbody tr:nth-child(2n) td {
  background-color: #eeeeee;
}

@media screen and (min-width: 600px) {
  main {
    margin-left: 240px;
  }

  nav {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    width: 240px;
  }
}
