<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Everything about the Shifting Sector" />
    <meta name="theme-color" content="#2a242b" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>The Shifting Sector</title>
    <link rel="icon" href="{{baseUrl}}favicon.ico" sizes="any" />
    <link rel="icon" href="{{baseUrl}}icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{{baseUrl}}apple-touch-icon.png" />
    <link rel="manifest" href="{{baseUrl}}manifest.json" />
    <link rel="stylesheet" href="{{baseUrl}}main.css" />
  </head>
  <body>
    <nav onclick="if (innerWidth < 768) this.classList.toggle('-open')">
      <div>
        <h1>The Shifting Sector</h1>
        <h3>Updated {{buildDate}}</h3>
        <a href="{{baseUrl}}">Story</a>
        <a href="{{baseUrl}}anomalies">Anomalies</a>
        <a href="{{baseUrl}}slipstreams">Slipstreams</a>
        <a href="{{baseUrl}}standard-time">Standard Time</a>
        <h2>Sector</h2>
        <a href="{{baseUrl}}worlds/omni">Omni</a>
        <a href="{{baseUrl}}worlds/paredes">Paredes</a>
        <a href="{{baseUrl}}worlds/sogantu">Sogantu</a>
        <a href="{{baseUrl}}worlds/vakella">Vakella</a>
        <a href="{{baseUrl}}worlds/xyankor">Xyankor</a>
        <a href="{{baseUrl}}worlds/zima">Zima</a>
        <a href="{{baseUrl}}worlds/lions-den">Lion’s Den</a>
        <h2>Characters</h2>
        <a href="{{baseUrl}}characters/azem-and-elpis">Azem &amp; Elpis</a>
        <a href="{{baseUrl}}characters/garu-jak">Garu Jak</a>
        <a href="{{baseUrl}}characters/radovan-balmont">Radovan Balmont</a>
        <a href="{{baseUrl}}characters/rishnii-shankar">Rishnii Shankar</a>
        <a href="{{baseUrl}}characters/npcs">NPCs</a>
        <h2>Factions</h2>
        <a href="{{baseUrl}}factions/the-angala">The Angala</a>
        <a href="{{baseUrl}}factions/the-cretawk">The Cretawk</a>
        <a href="{{baseUrl}}factions/emissaries-of-the-void">Emissaries of the Void</a>
        <a href="{{baseUrl}}factions/the-dagan">The Dagan</a>
        <a href="{{baseUrl}}factions/the-ersatz">The Ersatz</a>
        <a href="{{baseUrl}}factions/the-humans">The Humans</a>
        <a href="{{baseUrl}}factions/the-inexids">The Inexids</a>
        <a href="{{baseUrl}}factions/the-kebid">The Keb’id</a>
        <a href="{{baseUrl}}factions/omnistream-conglomerate">Omnistream Conglomerate</a>
        <a href="{{baseUrl}}factions/sivni-crime-syndicate">Sivni Crime Syndicate</a>
        <a href="{{baseUrl}}factions/solarians">Solarians</a>
        <a href="{{baseUrl}}factions/tamertoni-electorate">Tamertoni Electorate</a>
      </div>
      <button>&equiv;</button>
    </nav>
    <main>
      <section>
        {{content}}
      </section>
    </main>
  </body>
</html>

