:root {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.5;

  /* Colors */
  --base0: #2a242b;
  --base1: #464040;
  --base2: #775b5b;
  --red: #cc7048;
  --orange: #d7b550;
  --blue: #68a8ab;
  --blue-light: #88c8cb;
  --green: #90d59c;
  --yellow: #ffffb2;
  --white: #fffd;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
  --nav-width: 15rem;

  /* Speeds */
  --fast: 50ms;
  --slow: 100ms;
  --slower: 250ms;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue-light);
  text-decoration: none;
}

blockquote {
  background-color: var(--base1);
  border-left: 0.25rem solid var(--base2);
  border-radius: 0.25rem;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  padding: 0.125rem 1rem;
}

body {
  background-color: var(--base0);
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
  font: inherit;
}

del {
  color: var(--red);
  text-decoration: none;
}

em {
  color: white;
}

img {
  border: 2px solid #fff2;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem #1114;
  max-width: 100%;
}

main {
  margin: 0 auto var(--huge);
  padding: 1rem;
}

main h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0;
}

main h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

main h2:not(:first-child) {
  padding-top: 3rem;
}

main h3 {
  font-weight: 500;
  margin: 0;
  padding-top: 2rem;
}

main h3 strong {
  color: white;
  font-weight: 700;
}

main h3 code {
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 400;
  opacity: 0.4;
}

main h3 + p {
  margin-top: 0.5rem;
}

main hr {
  background-color: #fff3;
  border-width: 0;
  height: 1px;
  margin-top: 3rem;
}

main p {
  margin: 1rem 0;
}

nav {
}

nav.-open {
  pointer-events: auto;
}

nav div {
  background-color: var(--base1);
  height: 100vh;
  left: calc(0px - var(--nav-width));
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transition: left var(--slower) ease-in-out;
  width: var(--nav-width);
  z-index: 3;
}

nav.-open div {
  left: 0;
}

nav::before {
  background-color: #1118;
  backdrop-filter: none;
  content: "";
  display: block;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  height: 100vh;
  top: 0;
  transition: all var(--slow) ease-out;
  transition-property: backdrop-filter, opacity;
  width: 100vw;
}

nav.-open::before {
  backdrop-filter: blur(2px);
  opacity: 1;
  pointer-events: auto;
}

nav div > * {
  border-bottom: 1px solid var(--base0);
}

nav a {
  display: block;
  font-size: 0.9em;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

nav button {
  align-items: center;
  background-color: var(--blue);
  border-radius: 15px;
  border-width: 0;
  bottom: var(--small);
  box-shadow: 0 var(--tiny) var(--tiny) #1118;
  color: var(--white);
  font-size: 2rem;
  height: 44px;
  justify-content: center;
  left: var(--small);
  line-height: 1;
  padding: 0;
  position: fixed;
  width: 44px;
  z-index: 2;
}

nav h1 {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

nav h2 {
  font-size: 0.85em;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 30px;
  margin: 1rem 0 0;
  text-align: center;
}

nav h3 {
  color: #fff4;
  font-size: 0.65rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (hover: hover) {
  a:hover {
    text-decoration: underline;
  }

  nav a {
    transition: background-color var(--fast) ease-out;
  }

  nav a:hover {
    background-color: #68a8ab44;
    text-decoration: none;
  }

  nav button {
    transition: background-color var(--fast) ease-out, opacity var(--slow) ease-out;
  }

  nav button:hover {
    background-color: var(--blue-light);
  }
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: var(--nav-width) auto;
  }

  main {
    margin: 0 auto var(--medium);
    max-height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
  }

  main section {
    margin: 0 auto;
    max-width: 45rem;
  }

  nav div {
    display: flex;
    flex-direction: column;
    left: 0;
    padding-bottom: 1rem;
    pointer-events: auto;
    position: relative;
  }

  nav::before {
    display: none;
  }

  nav button {
    display: none;
  }
}
