<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Uncharted Worlds</title>
    <link rel="stylesheet" href="{{baseUrl}}main.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          General
          <ul>
            <li><a href="{{baseUrl}}common-moves/">Common Moves</a></li>
            <li><a href="{{baseUrl}}stat-moves/">Stat Moves</a></li>
          </ul>
        </div>
        <div>
          Origins
          <ul>
            <li><a href="{{baseUrl}}origins/advanced/">Advanced</a></li>
            <li><a href="{{baseUrl}}origins/brutal/">Brutal</a></li>
            <li><a href="{{baseUrl}}origins/colonist/">Colonist</a></li>
            <li><a href="{{baseUrl}}origins/crowded/">Crowded</a></li>
            <li><a href="{{baseUrl}}origins/galactic/">Galactic</a></li>
            <li><a href="{{baseUrl}}origins/impoverished/">Impoverished</a></li>
            <li><a href="{{baseUrl}}origins/privileged/">Privileged</a></li>
            <li><a href="{{baseUrl}}origins/productive/">Productive</a></li>
            <li><a href="{{baseUrl}}origins/regimented/">Regimented</a></li>
            <li><a href="{{baseUrl}}origins/rustic/">Rustic</a></li>
          </ul>
        </div>
        <div>
          Careers
          <ul>
            <li><a href="{{baseUrl}}careers/academic/">Academic</a></li>
            <li><a href="{{baseUrl}}careers/clandestine/">Clandestine</a></li>
            <li><a href="{{baseUrl}}careers/commercial/">Commercial</a></li>
            <li><a href="{{baseUrl}}careers/explorer/">Explorer</a></li>
            <li><a href="{{baseUrl}}careers/industrial/">Industrial</a></li>
            <li><a href="{{baseUrl}}careers/military/">Military</a></li>
            <li><a href="{{baseUrl}}careers/personality/">Personality</a></li>
            <li><a href="{{baseUrl}}careers/scoundrel/">Scoundrel</a></li>
            <li><a href="{{baseUrl}}careers/starfarer/">Starfarer</a></li>
            <li><a href="{{baseUrl}}careers/technocrat/">Technocrat</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {{content}}
    </main>
  </body>
</html>
