:root {
  font-size: 16px;
  line-height: 1.5;

  /* Colors */
  --black: #181818;
  --gray-darker: #282828;
  --gray-dark: #383838;
  --gray: #585858;
  --gray-light: #b8b8b8;
  --gray-lighter: #d8d8d8;
  --gray-lightest: #e8e8e8;
  --white: #f8f8f8;
  --red: #ab4642;
  --orange: #dc9656;
  --yellow: #f7ca88;
  --green: #a1b56c;
  --cyan: #86c1b9;
  --blue: #7cafc2;
  --purple: #ba8baf;
  --brown: #a16946;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  background-color: var(--gray-darker);
  border-left: 0.5rem solid var(--cyan);
  border-radius: 0.5rem;
  margin: 2rem 0 0;
  padding: 0.5rem 1rem;
}

blockquote > h4 {
  color: var(--cyan);
  margin-top: 0;
}

body {
  background-color: var(--black);
  color: var(--gray-lightest);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  margin: 0;
}

h1:not(:first-child),
h2:not(:first-child) {
  margin-top: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0 0;
}

h4 {
  font-size: 1.25rem;
  margin: 1rem 0 0;
}

header {
  position: sticky;
  top: 0;
}

header nav {
  display: flex;
}

header nav > div {
  background-color: var(--gray-light);
  color: var(--gray-darker);
  cursor: default;
  display: block;
  flex-grow: 1;
  font-weight: 500;
  padding: 0.5rem 1rem;
  position: relative;
  transition: background-color 100ms ease-out;
}

header nav > div:not(:first-child) {
  border-left: 1px solid var(--gray-darker);
}

header nav > div:hover {
  background-color: var(--white);
}

header nav > div:hover > ul {
  opacity: 1;
  pointer-events: auto;
  top: 2.5rem;
}

header nav ul {
  display: flex;
  flex-direction: column;
  left: 0;
  list-style-type: none;
  min-width: 100%;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 2rem;
  transition: all 100ms ease-out;
  transition-property: opacity, top;
}

header a {
  background-color: var(--gray-lighter);
  color: var(--black);
  display: block;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  transition: all 100ms ease-out;
  transition-property: background-color, opacity;
}

header a:hover {
  background-color: var(--blue);
  text-decoration: none;
}

header a {
  border-top: 1px solid var(--gray);
}

header li:last-child a {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 2rem 2rem 3rem;
}

p {
  margin: 1rem 0 0;
}

ul {
  margin: 0;
}
