* {
  box-sizing: border-box;
}

:root {
  font-size: 15px;

  /* Colors */
  --black: #111;
  --darker-gray: #222;
  --dark-gray: #333;
  --gray: #666;
  --light-gray: #ddd;
  --white: #eee;

  /* Miscellaneous */
  --nav-width: 250px;
}

a {
  cursor: pointer;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0px;
}

h1 {
  font-weight: 300;
  margin: 0px;
}

h2 {
  font-weight: 500;
  margin: 20px 0px;
}

main {
  margin-left: var(--nav-width);
  padding: 15px 20px;
}

nav {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  width: var(--nav-width);
}

nav > a {
  background-color: var(--gray);
  border-bottom: 1px solid var(--dark-gray);
  color: var(--white);
  padding: 10px;
  transition: background-color 25ms;
}

nav > a:hover {
  background-color: var(--dark-gray);
}

nav > a::selection {
  background-color: transparent;
}

p {
  margin: 10px 0px 0px;
  max-width: 40em;
}
