---
layout: blank.njk
title: Seeker
stylesheets:
  - styles.css
scripts:
  - rating-block.js
  - toggle-button.js
moduleScripts:
  - main.js
---

<header>
  <div class="-hidden" id="CharacterInfo">
    <span><b>Age:</b> <span id="Age"></span></span>
    <span id="Position">Unemployed</span>
  </div>
  <div id="Statistics">
    <div class="-hidden" id="Characteristics">
      <button class="hover">
        <span id="StrengthRating"></span>
        <span id="DexterityRating"></span>
        <span id="EnduranceRating"></span>
        <span id="IntellectRating"></span>
        <span id="EducationRating"></span>
        <span id="SocialStandingRating"></span>
      </button>
      <div class="submenu">
        <rating-block id="Strength" label="STR"></rating-block>
        <rating-block id="Dexterity" label="DEX"></rating-block>
        <rating-block id="Endurance" label="END"></rating-block>
        <rating-block id="Intellect" label="INT"></rating-block>
        <rating-block id="Education" label="EDU"></rating-block>
        <rating-block id="SocialStanding" label="SOC"></rating-block>
      </div>
    </div>
    <div class="-hidden" id="Skills">
      <button class="hover">Skills</button>
      <div class="submenu">
        <ul id="SkillsList"></ul>
      </div>
    </div>
  </div>
</header>

<main></main>
