* {
  box-sizing: border-box;
}

:root {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.5;

  /* Colors */
  --black: #282C34;
  --blue: #61AFEF;
  --cyan: #56B6C2;
  --gray: #ABB2BF;
  --green: #98C379;
  --magenta: #C678DD;
  --red: #E06C75;
  --white: #fff;
  --yellow: #E5C07B;

  /* Fonts */
  --classical-humanist-fonts: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  --monospace-code-fonts: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  /* Sizes */
  --control-size: 44px;
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;

  /* Speeds */
  --fast: 50ms;
  --slow: 100ms;
  --slower: 250ms;
}

@keyframes scanline {
  0% { transform: translate3d(0, 200000%, 0) }
}

@keyframes scanlines {
  0% { background-position: 0% 50% }
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--classical-humanist-fonts);
  margin: 0;

  &::after {
    animation: scanlines 2s steps(24) infinite;
    background-image: linear-gradient(to bottom, transparent 50%, #0002 51%);
    background-size: 100% 4px;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: soft-light;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

button {
  align-items: center;
  background-color: var(--gray);
  border: 2px solid #fff0;
  color: #000a;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-weight: 700;
  min-height: calc(var(--control-size) - 4px);
  min-width: var(--control-size);
  padding: var(--small) var(--medium);
  transition: all var(--slow) ease-out;
  transition-property: border-color;

  &.blue {
    background-color: var(--blue);
  }

  &.cyan {
    background-color: var(--cyan);
  }

  &.green {
    background-color: var(--green);
  }

  &.magenta {
    background-color: var(--magenta);
    color: #000b;
  }

  &.red {
    background-color: var(--red);
    color: #000b;
  }

  &.yellow {
    background-color: var(--yellow);
    color: #0009;
  }

  &.hover {
    background-color: var(--black);
    border: none;
    color: var(--white);
    text-decoration: underline #fff6;
    transition-property: background-color;
  }

  &.choice {
    background-color: transparent;
    border-color: var(--gray);
    color: var(--white);
    flex-direction: column;
    font-weight: 400;
    width: 100%;

    &:not(:disabled):not(.-selected):hover {
      background-color: #fff3;
    }

    > .title {
      font-size: 1.25em;
      font-weight: 700;
      margin: 0;
    }

    > ul {
      text-align: left;
    }

    &:not(:first-child) {
      margin-top: var(--small);
    }

    > *:last-child {
      margin-bottom: 0;
    }

    &.-selected {
      background-color: var(--white);
      color: var(--black);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[data-selected] {
    background-color: var(--white);
  }

  &:not(:disabled):hover {
    border-color: var(--white);
  }

  & + hr {
    margin-top: 1.5rem;
  }
}

header {
  align-items: center;
  background-color: var(--black);
  border-bottom: 1px solid var(--gray);
  display: flex;
  justify-content: space-between;
  padding-left: var(--small);
  position: sticky;
  top: 0;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: var(--medium);

}

p {
  margin-bottom: 0;
}

p + ul {
  margin-top: 0;
}

.-hidden {
  pointer-events: none;
  visibility: hidden;
}

.actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--small) calc(var(--control-size) / 2);
  justify-content: center;
  margin: 2rem 0 0;

  &.-left {
    justify-content: flex-start;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: var(--small);
}

.frame {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  row-gap: var(--small);

  > .row {
    display: flex;
    justify-content: center;

    > .column {
      display: flex;
      padding: 0.25rem;

      &.fifth { flex-basis: 20% }
      &.half { flex-basis: 50% }
      &.quarter { flex-basis: 25% }
      &.third { flex-basis: calc(100% / 3) }
    }
  }
}

.submenu {
  background-color: var(--black);
  border: 1px solid var(--gray);
  margin: 0;
  opacity: 0;
  padding: var(--small);
  pointer-events: none;
  position: absolute;
  top: 2rem;
  transition: all var(--slow) ease-out;
  transition-property: opacity, top;
  white-space: nowrap;

  > ul {
    margin: 0;
    padding-left: var(--medium);
  }
}

.termactions {
  display: flex;
  column-gap: var(--medium);

  > .column {
    flex-basis: 50%;

    > p:first-child {
      margin-top: 0;
    }
  }
}

#CharacterInfo {
  #Position {
    &::before {
      color: var(--gray);
      content: "|";
      margin-right: var(--tiny);
    }
  }
}

#Characteristics {
  cursor: default;
  position: relative;

  > button {
    border-left: 1px solid var(--gray);
    cursor: inherit;
    font-family: var(--monospace-code-fonts);
    letter-spacing: 2px;
  }

  > .submenu {
    display: flex;
    flex-wrap: wrap;
    left: -4.5rem;
    width: 15rem;

    > rating-block {
      flex-basis: calc(100% / 3);
    }
  }

  &:hover {
    > button {
      background-color: #fff4;
    }

    > .submenu {
      opacity: 1;
      pointer-events: auto;
      top: 2.5rem;
    }
  }
}

#Skills {
  cursor: default;

  > button {
    border-left: 1px solid var(--gray);
    cursor: inherit;
  }

  > .submenu {
    right: 0;
  }

  &:hover {
    > button:not(:disabled) {
      background-color: #fff4;
    }

    > .submenu {
      opacity: 1;
      pointer-events: auto;
      top: 2.5rem;
    }
  }
}

#Statistics {
  display: flex;
}
