<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="viewport" content="initial-scale=1,width=device-width" />
    <title>SOLO Reference</title>
    <link rel="stylesheet" href="main.css" />
    {{styles}}
  </head>
  <body>
    <nav>{{navigation}}</nav>
    <main>{{content}}</main>
    {{scripts}}
  </body>
</html>
