@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --seaweed: #16220b;
  --woodland: #43602b;
  --feijoa: #9ecf75;
  --reef: #d3ffaf;
  --snow-flurry: #e3ffcc;

  /* Miscellaneous */
  --nav-width: 256px;
}

body {
  background-color: var(--seaweed);
  color: var(--snow-flurry);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}

h1, h2, h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}

h1 {
  font-size: 40px;
  margin: 40px auto;
}

h2 {
  font-size: 24px;
  margin: 24px 0px 8px;
}

h3 {
  font-size: 20px;
  margin: 20px 0px 8px;
}

main {
  padding: 16px 32px;
}

nav {
  background-color: var(--woodland);
}

nav > a {
  border-bottom: 1px solid var(--seaweed);
  color: var(--snow-flurry);
  display: block;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  padding: 12px 16px 8px;
  text-decoration: none;
}

nav > a.-current {
  background-color: var(--seaweed);
}

table {
  border-collapse: collapse;
}

table + table {
  margin-top: 16px;
}

tbody tr:first-child td {
  padding-top: 4px;
}

td {
  padding: 0px 8px;
}

th {
  border-bottom: 1px solid var(--woodland);
  padding: 0px 8px 4px;
  text-align: left;
}

@media screen and (min-width: 600px) {
  main {
    margin-left: var(--nav-width);
  }

  nav {
    height: 100vh;
    left: 0px;
    overflow: hidden scroll;
    position: fixed;
    top: 0px;
    width: var(--nav-width);
  }
}
