* {
  box-sizing: border-box;
}

:root {
  --green: #71BF44;
}

body {
  background-color: white;
  color: var(--green);
  font-family: sans-serif;
}

fieldset {
  border: 2px solid var(--green);
}

input {
  border: 1px solid var(--green);
  font-size: 1em;
  padding: 4px;
}

label {
  display: inline-block;
}

.approach {
  margin: 4px 0px;
}

.approaches {
  display: flex;
}

.approaches label {
  text-align: right;
  width: 80px;
}

.approaches > .row.-long label {
  width: 105px;
}

.labeledinput > input {
  display: block;
  width: 100%;
}

.sectionlabel {
  font-weight: 700;
  margin-top: 16px;
}

#Approaches {
  display: flex;
}

#Approaches > div {
  flex: 1;
}

#Aspects input {
  padding: 4px;
}

#Aspects label {
  margin-top: 8px;
}

#Bottom {
  display: flex;
}

#Conditions {
  flex-grow: 1;
}

#Conditions > .rows {
  display: flex;
}

#Conditions .row {
  flex: 1;
  margin-top: 4px;
}

#CulinaryApproaches {
  text-align: right;
}

#CulinaryApproaches .approaches {
  justify-content: flex-end;
}

#Refresh {
  border: none;
  display: block;
  font-size: 32px;
  height: 64px;
  text-align: center;
  width: 100%;
}

#RefreshArea {
  border: 2px solid var(--green);
  margin-top: 8px;
  max-width: 96px;
  padding: 0px 8px;
}

#Sheet {
  margin: auto;
  max-width: 700px;
}

#StuntsText {
  border: 1px solid var(--green);
  display: block;
  font-size: 1em;
  height: 8em;
  padding: 4px;
  width: 100%;
}
